@import "function";

////
/// @group  Variable
////

///
/// @name   object
///
$object: (
  colors : (
    white                 : #fff,
    black                 : #000,

    primary               : #4285f4,

    success               : #00c851,
    info                  : #33b5e5,
    warning               : #ff8800,
    danger                : #cc0000
  )
);

///
/// MAIN PALLET
/// ===============
$c-white                  : return-value(colors, white);
$c-black                  : return-value(colors, black);

$c-primary                : return-value(colors, primary);

$c-success                : return-value(colors, success);
$c-info                   : return-value(colors, info);
$c-warning                : return-value(colors, warning);
$c-danger                 : return-value(colors, danger);

///
/// ADDITIONAL PALLET
/// ===============
$c-f8f8f8: #f8f8f8;
$c-bebebd: #bebebd;
$c-4cf6ae: #4cf6ae;
$c-9acd70: #9acd70;
$c-4bb588: #4bb588;
$c-dc9a1b: #dc9a1b;
$c-c96330: #c96330;
$c-38739c: #38739c;
$c-667080: #667080;
$c-305571: #305571;
$c-2a4b64: #2a4b64;
$c-404c60: #404c60;
$c-4c4e48: #4c4e48;
$c-333: #333;
