//- DATA :: START

-
  var dataObj = {
    navHeader: [
      {
        href: "#main",
        name: "About"
      },
      {
        href: "#factilities",
        name: "Facilities"
      },
      {
        href: "#doctor",
        name: "Doctors"
      },
      {
        href: "#testimonials",
        name: "Testimonials"
      },
      {
        href: "#contacts",
        name: "Contact"
      }
    ],
    navFooter: [],
    social: []
  };

//- DATA :: END