// COMMON :: START

// copyright
.copyright {
  display: block;
  padding-top: 99px;
  text-align: center;
  color: $c-white;
  font-size: 14px;
  @include respond(max-small) {
    padding-top: 60px;
  }

  a {
    @include transition(color);

    &:hover {
      color: $c-dc9a1b;
      @include transition(color);
    }
  }
}
// copyright :: end

// COMMON :: END