.swiper-container {
  width: 100%;
  max-width: 500px;
  height: 300px;

  &--factilities {
    max-width: 100%;
    min-height: 655px;
    @include respond(max-small) {
      height: auto;
      padding-top: 37px;
    }

    .swiper-wrapper {
      height: calc(100% - 33px);
      @include respond(max-small) {
        height: auto;
      }
    }

    .swiper-pagination {
      bottom: -5px;
      @include respond(max-small) {
        top: 0;
        bottom: auto;
      }

      &-bullet {
        opacity: 1;
        width: 67px;
        height: 7px;
        margin: 0 2px;
        border-radius: 0;
        background-color: $c-bebebd;
        @include transition(background-color);
        @include respond(max-small) {
          width: 33px;
        }

        &:hover,
        &-active {
          background-color: $c-38739c;
          @include transition(background-color);
        }
      }
    }
  }

  &--testimonials {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    @include respond(max-small) {
      position: static;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 145px 0;
      text-align: center;
      @include respond(max-small) {
        padding-left: 100px;
        padding-right: 100px;
      }
      @include respond(max-extra-small) {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        font-size: 18px;
        font-weight: 300;

        &:nth-child(1) {
          padding-bottom: 50px;
          @include respond(max-medium) {
            padding-bottom: 30px;
          }
        }

        &:nth-child(2) {
          font-weight: normal;
        }
      }
    }
  }

  &--contacts {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}