---
title: Childrens Speciality Dental Clinic

contentClassName: home
dataPageName: index
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/_factilities
    include ./components/_doctor
    include ./components/_testimonials
    include ./components/_contacts
