// DOCTOR :: START

.doctor {
  position: relative;
  padding-bottom: 90px;
  background-color: $c-f8f8f8;

  &:before {
    content: "";
    position: absolute;
    top: -78px;
    left: 0;
    width: 100%;
    height: 78px;
    background-image: url('../img/img-bg-doctor@2x.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    padding-bottom: 14px;
  }

  &__block {
    width: calc(100% / 3);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    @include respond(max-small) {
      width: 100%;
      padding-bottom: 35px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &:nth-child(1) {
      margin-left: 0;
      @include respond(max-small) {
        .doctor__block-img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &:nth-child(2) {
      .doctor__block-img {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(3) {
      margin-right: 0;

      .doctor__block-img {
        margin-left: auto;
        @include respond(max-small) {
          margin-right: auto;
        }
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      @include respond(max-small) {
        flex-wrap: wrap;
      }
    }

    &-img {
      width: 100%;
      max-width: 321px;
      margin-bottom: 15px;
    }

    &-name {
      font-size: 18px;
      font-weight: 600;
    }

    &-pos {
      padding-bottom: 10px;
    }

    &-link {
      color: $c-436885;
      text-decoration: underline;
      font-size: 15px;
      font-family: 'Armata', 'Montserrat', sans-serif;
      @include transition(color);

      &:hover {
        color: $c-c96330;
        @include transition(color);
      }
    }
  }
}

// DOCTOR :: END